/* Style Settings */

@font-face {
    font-family: 'HK_Grotesk';
    src: url('../webfonts/hkgrotesk-regular-webfont.woff2') format('woff2'), url('../webfonts/hkgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --a4eBlack: #333333;
    --a4eWhite: #F5F5F5;
    --a4eRed: #DC4141;
    --a4eOrange: #F37D01;
    --a4eYellow: #FCBF49;
    --a4eGreen: #4faf25;
    --a4eBlue: #1D85B1;
    --a4eIndigo: #511DB1;
    --a4eViolet: #931DB1;
    --font: HK_Grotesk, arial, sans-serif;
}

body {
    color: var(--a4eWhite);
    background-color: var(--a4eWhite);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0; 
    transition: opacity 1.5s;
    padding: 0;
    margin: 0;
}

.photo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 50px auto 25px;
    border: 1.5px;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--a4eYellow);
}

.headerText a {
    color: var(--a4eRed);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    text-decoration: none;
    text-align: center;
    max-width: 380px;
    margin: auto;
}

.paragraphText {
    color: var(--a4eRed);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    text-decoration: none;
    text-align: center;
    max-width: 380px;
    margin: auto;
}

.disclaimerText {
    color: var(--a4eRed);
    font-size: 13px;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    text-decoration: none;
    text-align: justify;
    max-width: 380px;
    margin: auto;
}

.links {
    max-width: 400px;
    width: auto;
    display: block;
    margin: 27px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.link {
    display: block;
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    border: 2px;
    border-style: solid;
    border-radius: 30px;
    transition: 0.5s;
}

.link.r {
    background-color: var(--a4eRed);
    border-color: var(--a4eRed);
    color: var(--a4eWhite);
}

.link.r:hover {
    background-color: var(--a4eWhite);
    border-color: var(--a4eRed);
    color: var(--a4eBlack);
}

.link.o {
    background-color: var(--a4eOrange);
    border-color: var(--a4eOrange);
    color: var(--a4eWhite);
}

.link.o:hover {
    background-color: var(--a4eWhite);
    border-color: var(--a4eOrange);
    color: var(--a4eBlack);
}

.link.y {
    background-color: var(--a4eYellow);
    border-color: var(--a4eYellow);
    color: var(--a4eBlack);
}

.link.y:hover {
    background-color: var(--a4eWhite);
    border-color: var(--a4eYellow);
    color: var(--a4eBlack);
}

.link.g {
    background-color: var(--a4eGreen);
    border-color: var(--a4eGreen);
    color: var(--a4eWhite);
}

.link.g:hover {
    background-color: var(--a4eWhite);
    border-color: var(--a4eGreen);
    color: var(--a4eBlack);
}

.link.b {
    background-color: var(--a4eBlue);
    border-color: var(--a4eBlue);
    color: var(--a4eWhite);
}

.link.b:hover {
    background-color: var(--a4eWhite);
    border-color: var(--a4eBlue);
    color: var(--a4eBlack);
}

.link.i {
    background-color: var(--a4eIndigo);
    border-color: var(--a4eIndigo);
    color: var(--a4eWhite);
}

.link.i:hover {
    background-color: var(--a4eWhite);
    border-color: var(--a4eIndigo);
    color: var(--a4eBlack);
}

.link.v {
    background-color: var(--a4eViolet);
    border-color: var(--a4eViolet);
    color: var(--a4eWhite);
}

.link.v:hover {
    background-color: var(--a4eWhite);
    border-color: var(--a4eViolet);
    color: var(--a4eBlack);
}

.section {
    padding: 0px 15px 30px;
}

.dividerText {
    color: var(--a4eRed);
    padding: 0 0 20px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    text-decoration: none;
    text-align: center;
    max-width: 380px;
    margin: auto;
}

.dividerparaText {
    color: var(--a4eRed);
    padding: 0 0 20px 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    text-decoration: none;
    text-align: center;
    max-width: 380px;
    margin: auto;
}

.social-nav {
    text-align: center;
    padding: 0;
    list-style: none;
    display: block;
}

.social-nav li {
    display: inline-block;
}

.social-nav a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: var(--a4eWhite);
    text-decoration: none;
    text-align: center;
    line-height: 48px;
}

.model-1 li {
    margin: 0 2px;
}

.model-1 a {
    background: var(--a4eWhite);
    border-radius: 100%;
}